input[type="text"] {
    width: 200px;
    height: 40px;
}

input#dob {
    width: 200px;
    height: 40px;
}

input[type="password"] {
    width: 200px;
    height: 40px;
}

select#gender {
    height: 40px;
    width: 200px;
}

select#role {
    height: 40px;
    width: 200px;
}

.add-employee-info {
    margin: 25px 145px 0px 409px;
    padding: 0 74px;
}

td {
    padding-right: 20px;
    padding-bottom: 15px;
}

.float-right {
    float: right;
}

.alight-center {
    text-align: center;
}