        .show-employee {
            margin: 25px 96px 0px 376px;
            padding: 0 40px;
        }
        
        .alight-center {
            text-align: center;
        }
        
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        td {
            text-align: center;
            color: black;
            padding: 5px;
        }
        
        .margin-btn {
            margin: 2px;
        }
        
        .edit-btn {
            background-color: #40de40;
            color: white;
        }
        
        .delete-btn {
            background-color: #ff0101;
            color: white;
        }